.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.logo{
  width: 100%;
  max-width: 200px;
}

.play{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10%;
  padding: 1rem;
  background-color: #fff;
}

.container{
  display: flex;
  height: 560px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

